*{
  margin: 0;;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#left{
  width: 50%;
  height: 100vh;
}

#right{
  width: 50%;
  height: 100vh; 
  background-color: #000000;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);  position: absolute;
  top: 0;
  right: 0;
}

#img{
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 10%;
  right: 12%;
  display: flex;
  flex-direction: column; 
  justify-content: flex-end;
  align-items: center;
}
#img > div
{
  flex: 1 1 auto;
  text-align: center;
  margin: 20px;  /* and that, will result in a 10px gap */
}
#nav #logo{
  width: 30%;
  height: 100%;
  padding-left: 10%;
}

/* ---- reset ---- */

body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
}

/* ---- particles.js container ---- */


html,body{ 
	width:100%;
	height:100%;
	background:#111;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas{
  display:block;
  vertical-align:bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(14, 14, 14);
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

h1 {
  font-family: 'Audiowide', cursive;
}

p {

  font-family: 'Audiowide', cursive;
}

.npm {
  display: block;
  max-width: 300px;
  margin: auto;
  padding: 20px 30px;
  font-size: 28px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #E48420;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.npm:hover {background-color: #0C3B65}

.npm:active {
background-color: rgb(2, 29, 53);
box-shadow: 0 5px #666;
transform: translateY(4px);
}

/* Set all parents to full height */
html, body, 
.container,
.cbp-fbscroller,
.cbp-fbscroller section { 
	height: 100%; 
}

/* The nav is fixed on the right side  and we center it by translating it 50% 
(we don't know it's height so we can't use the negative margin trick) */
.cbp-fbscroller > nav {
	position: fixed;
	z-index: 9999;
	right: 100px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.cbp-fbscroller > nav a {
	display: block;
	position: relative;
	color: transparent;
	height: 50px;
}

.cbp-fbscroller > nav a:after {
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border: 4px solid #fff;
}

.cbp-fbscroller > nav a:hover:after {
	background: rgba(255,255,255,0.6);
}

.cbp-fbscroller > nav a.cbp-fbcurrent:after {
	background: #fff;
}

/* background-attachment does the trick */
.cbp-fbscroller section {
	position: relative;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

#fbsection1 {
	background-image: url(../assets/evan.png);
}

#fbsection2 {
	background-image: url(./assets/jason.png);
}

#fbsection3 {
	background-image: url(./assets/sarah.png);
}

#fbsection4 {
	background-image: url(./assets/spencer.png);
}

#fbsection5 {
	background-image: url(../images/5.jpg);
}