h1{
    font-family: 'Audiowide', cursive;
    background: -webkit-linear-gradient(rgb(197, 197, 197), white);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 50px;
}

h2{
  font-size: 40px;
  font-family: 'Audiowide', cursive;
  background: -webkit-linear-gradient(gray, white);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.names {
    font-family: 'Audiowide', cursive;
    font-size: 35px;
    display: flex;
    justify-content: space-around;
    background: -webkit-linear-gradient(gray, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.headshots {
  display: flex;
  justify-content: space-around;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  
.evanHover:hover .overlay {
height: 100%;
}


.headshot {
    flex-basis: 20%;
    box-shadow: 10px 10px 5px grey;
    width: 10%;
}

/* .links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} */

body {
    background-image: radial-gradient( rgba(0, 0, 0, 0.822), black);
}

  .logo { 
height: 19%;
width: 10%;
  margin-left: 37%;
  }

  .banner {
      width: 100%;
      margin-top: 8.6%;
  }

  .linkedInImage {
    height: 100%;
  }
  label {
      flex-basis: 20%;
      text-align: center;
  }

  .star {
      display: flex;
      justify-content: flex-end;
      height: 10%;
 
  }

  .githubImage {
      height: 100%;
  }

  .socialBar {
      height: 80px;
display: flex;
justify-content: space-around;
  }

  .social {
      height: 80%;
      display: flex;
      flex-basis: 20%;
      justify-content: space-around;
  }

  a:hover {
    background: linear-gradient(black, grey);
  }

  footer{
display: flex;
justify-content: center;
  }
